{% extends 'base.html' %}
{% block title %}NYGMA - Login{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="col-lg-6 shadow p-4">
                <h3 class="text-center">Connexion</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputEmail1">Login</label>
                        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
