{% extends "base.html" %}
{% block title %}NYGMA - Register{% endblock %}
{% block content %}
{% if form.errors %}
  <div class="alert alert-warning alert-dismissible fade show m-3" role="alert">
    Il y a eu une erreur lors de la soumission
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="col-lg-6 shadow p-4">
                <h3 class="text-center">Inscription</h3>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Entrez votre nom d'utilisateur" required>
                        {% if form.username.errors %}
                            <small class="form-text text-danger">{{ form.username.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_first_name">Prénom</label>
                        <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Entrez votre prénom" required>
                        {% if form.first_name.errors %}
                            <small class="form-text text-danger">{{ form.first_name.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">Nom</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Entrez votre nom" required>
                        {% if form.last_name.errors %}
                            <small class="form-text text-danger">{{ form.last_name.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="Entrez votre email" required>
                        {% if form.email.errors %}
                            <small class="form-text text-danger">{{ form.email.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_langue">Langue</label>
                        {{ form.langue }}
                        {% if form.langue.errors %}
                            <small class="form-text text-danger">{{ form.langue.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_password1">Mot de passe</label>
                        <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Entrez votre mot de passe" required>
                        {% if form.password1.errors %}
                            <small class="form-text text-danger">{{ form.password1.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Confirmation du mot de passe</label>
                        <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirmez votre mot de passe" required>
                        {% if form.password2.errors %}
                        <small class="form-text text-danger">{{ form.password2.errors.0 }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group text-center">
                      <input type="submit" value="S'inscrire" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
