{% extends "base.html" %}

{% block content %}


<div class="container p-3">

    <div class="card p-5">
        {% if searched %}
            <h3>Resultats pour la recherche des spectacles contenant : {{ searched }}</h3>
            <div class="container">
              <div class="row justify-content-md-center">
                {% for show in showsResults %}
                <div class="card m-2" style="width: 18rem;">
                  {% if show.image %}
                  <img src="{{show.image}}" class="card-img-top" alt="...">
                  {% else %}
                  <img src="{{show.poster_url}}" class="card-img-top" alt="...">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{show.title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/show/{{show.id}}" class="btn btn-primary">Consulter</a>
                  </div>
                </div>
            {% endfor %}
              </div>
            </div>
            
        {% else %}
            <h3>Pas de rechercher</h3>
        {% endif  %}
      </div>
     
</div>


{% endblock %}