{% extends "base.html" %}

{% block content %}


<div class="container">

    <div class="card">
        <img src="{{show.poster_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{show.title}}</h5>
          <p class="card-text">{{ show.description }}</p>
          <p class="card-text">{{ show.price }} Eur</p>
          <p class="card-text">{{ show.location }}</p>
          <a href="#" class="btn btn-primary">Reserver</a>
          {% if user.is_superuser %}
          <a href="{{ show.id }}/edit" class="btn btn-danger">Modifier</a>
          {% endif %}
        </div>
      </div>
     
</div>


{% endblock %}