{% extends "base.html" %}

{% block content %}
{% if user.is_superuser %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="col-lg-6 shadow p-4">
                <h3 class="text-center">Créer un artiste</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-group text-center">
                        <input class="btn btn-success" type="submit" value="Créer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

