{% extends 'layouts/base.html' %}

{% block title %}Modifier un artiste{% endblock %}

{% block content %}
    <h2>Modifier un artiste</h2>

    <form action="{% url 'catalogue:artist-update' artist.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">

        {{ form }}

        <button>Modifier</button>
        <a href="{% url 'catalogue:artist-show' artist.id %}">Annuler</a>
    </form>

    <nav><a href="{% url 'catalogue:artist-index' %}">Retour à l'index</a></nav>
{% endblock %}