{% extends "base.html" %}

{% block content %}

<style>
    .custom-img {
        width: 100%;
        height: 200px;
        /* Ajustez la hauteur selon vos besoins */
        object-fit: cover;
    }
</style>


<div class="container">
    <div class="p-3">
        <form method="GET" action="">
            <select name="type">
                <option value="">--Select Type--</option>
                {% for type in types %}
                <option value="{{ type.id }}">{{ type.type }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filter">
        </form>

        <h4 class="text-center alert alert-info">All Shows</h4>
    </div>
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                {% if shows.has_previous %}
                <li>
                    <a class="page-link"
                        href="?page={{shows.previous_page_number}}{% if type %}&type={{ type }}{% endif %}"
                        tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                <li class="page-link">
                    page {{shows.number}} of {{shows.paginator.num_pages}}
                </li>
                {% if shows.has_next %}
                <li>
                    <a class="page-link"
                        href="?page={{shows.next_page_number}}{% if type %}&type={{ type }}{% endif %}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>


    </div>
    <div class="row p-3">
        {% for showd in shows %}
        <div class="card m-3 col-sm" style="width: 18rem;">
            {% if showd.image %}
            <img src="{{showd.image}}" class="card-img-top custom-img" alt="...">
            {% else %}
            <img src="{{showd.poster_url}}" class="card-img-top custom-img" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ showd.title }}</h5>
                <p class="card-text">{{ showd.description|truncatechars:200 }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Lieu : {{ showd.location_id }}</li>
                <li class="list-group-item">Prix: {{ showd.price }} Euro</li>
            </ul>
            <div class="card-body">
                <a href="/show/{{showd.id}}" class="card-link btn btn-info">Consulter</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                {% if shows.has_previous %}
                <li>
                    <a class="page-link"
                        href="?page={{shows.previous_page_number}}{% if type %}&type={{ type }}{% endif %}"
                        tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                <li class="page-link">
                    page {{shows.number}} of {{shows.paginator.num_pages}}
                </li>
                {% if shows.has_next %}
                <li>
                    <a class="page-link"
                        href="?page={{shows.next_page_number}}{% if type %}&type={{ type }}{% endif %}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>


    </div>
</div>

{% endblock %}