{% extends 'base.html' %}

{% block content %}
<div class="container ">
  <div class="m-5">
    <h2>Voici les representations disponibles</h2>
    <p>Nombre de représentations : {{ representationList|length }}</p>
  </div>
  <div class="list-group">
    {% for representation in representationList %}
    <a href="#" class="list-group-item list-group-item-action">
      <h4>{{ representation.show_id }}</h4>
      <h5>{{ representation.location_id }}</h5>
      <h6>{{ representation.when }}</h6>
      <h6>{{ representation.show_id.price }}eur</h6> 
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}