{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card">
        <img src="{{ show.poster_url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ show.title }}</h5>
          <p class="card-text">{{ show.description }}</p>
          <p class="card-text"><strong>Prix:</strong> {{ show.price }} EUR</p>
          {% if not user.is_authenticated %}
          <a href="{% url 'login' %}" class="btn btn-danger">Se connecter</a>
          {% endif %}
          {% if user.is_superuser %}
          <a href="{{ show.id }}/edit" class="btn btn-danger">Modifier</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <h4>Dates Disponibles</h4>
      {% if user.is_authenticated %}
      <div class="list-group">
        {% for representation in representationList %}
        <a href="#" class="list-group-item list-group-item-action">
          <h6>{{ representation.when }}</h6>
          <p>{{ representation.show_id.title }}</p>
          <p><strong>Lieu:</strong> {{ representation.location_id }}</p>
          <p><strong>Prix:</strong> {{ representation.show_id.price }} EUR</p>
        </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="list-group">
        {% for representation in representationList %}
        <div class="list-group-item list-group-item-action">
          <h6>{{ representation.when }}</h6>
          <p>{{ representation.show_id.title }}</p>
          <p><strong>Lieu:</strong> {{ representation.location_id }}</p>
          <p><strong>Prix:</strong> {{ representation.show_id.price }} EUR</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
